

<!-- 
                                            Tabla de productos

    _ Si bien su nombre hace referencia a una tabla en memoria del desafio anterior lo que podemos encontrar
      es una seccion donde renderizaremos los productos creador por el formulario.

    _ Comenzamos con un if que mediante una comparacion del parametro que le enviamos por la ruta con el 
      metodo GET nos muestra un mapeo de todo el array 'productos'.

    _ Este mapeo retorna por cada producto una card diseñada en bootstrap en la cual se insertan todas
      las propiedades de cada producto (titulo, precio, imagen).

    _ Otro punto no menor a aclarar es el renderizado condicional y prioritario que tiene la imagen subida
      sobre la imagen aleatoria, es decir en caso de no subirse imagen se utilizara la aleatoria por defecto
      pero en caso de si subirse, esta misma tendra prioridad por sobre la aletoria y sera cual se muestre dentro
      de la card del producto.

    _ Como pudo llegarse a apreciar disponemos de un include, el cual nos trae el deleteButton que nos servira
      a la hora de querer eliminar nuestros productos.

    _ Por ultimo tenemos else para el caso en que no haya productos el cual mostrara una seccion vacia con la
      palbra 'No existen productos'.

 -->

<% if (productos.length > 0) { %>
  
  <%- include('./deleteButton.ejs') %>  
    <div class="d-flex flex-row row ms-2 mb-5">
        <% productos.forEach((producto , key)=>{ %>
         
          <div class="card  m-3 bg-secondary bg-opacity-25  rounded-bottom rounded-3 " style="width: 15rem;">
            <% if (producto.image){ %> 
              <img src="<%= producto.image %>" class="card-img-top w-50 pt-3 h-50 m-auto" alt="..." >
          
            <% } else {%> 
              <img src="<%= producto.url %>" class="card-img-top w-50 pt-3 h-50 m-auto" alt="..." > 
            <% } %> 
            <div class="card-body   ">
              <h5 class="card-title text-center bg-danger rounded-3 text-light pb-1"><%= producto.titulo %></h5>
              <p class=" bg-secondary bg-opacity-25 p-2 text-dark rounded-3"><small >Lorem ipsum dolor sit amet consectetur adipisicing elit.</small></p>
              <p class=" text-center badge bg-success w-50 text-light me-4">$<%= producto.precio %> </p>
              <b class="  badge bg-secondary bg-opacity-25 text-dark pe-2 ps-2 ms-3">ID : <%= key+1 %></b>

            </div>
          </div>
         
          <% }) %>
          
        </div>
  
    <% } else { %> 
      <div class="container border border-2 bg-gradient border-secondary mt-5 rounded-bottom rounded-3 bg-secondary  bg-opacity-10">
        <h1 class="text-center  mt-5 h3 text-dark text-opacity-10 fs-1 mb-5 ">No existen productos</h1>
        
         
        </b>
      </div>
      <% } %> 
